.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__links {
    display: flex;
    // gap: ;
  }

  &__link {
    color: var(--color-grey);
    text-decoration: none;
  }

  &__link:hover {
    color: var(--color-black);
  }
}

.toggle-btn {
  text-decoration: none;
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none; // dont show by default
  // display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;

  &__bar {
    height: 3px;
    width: 100%;
    background-color: var(--color-black);
    border-radius: 10px;
  }
}

// DROPDOWN
.dropdown {
  position: relative;

  &__menu {
    position: absolute;
    left: 0;
    top: calc(100% + 1rem);
    background-color: white;
    padding: 0.75rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

    opacity: 0; // to animate. cannot use display: none

    pointer-events: none; // no interaction when not on page
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

    &.active {
      opacity: 1;
    }
  }

  // Using CSS - btn to stay black when focused
  // &__link:focus {
  //   color: var(--color-black);
  // }

  // Using JS
  &.active &__link {
    color: var(--color-black);
  }
  git
  // using JS

  // Using CSS - .dropdown__link:focus + .dropdown__menu // when focus on
  // &__link:focus + &__menu {
  //   background-color: yellow;
  //   opacity: 1;
  //   transform: translateY(0px);
  //   pointer-events: auto;
  // }

  // USING JS
  // .dropdown.active > .link + .dropdown-menu
  &.active &__menu {
    background-color: rgb(0, 60, 255);
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }
}

@media (max-width: 600px) {
  .toggle-btn {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;

    &__links {
      background-color: rgba(127, 255, 212, 0.157);
      display: none;
      align-self: flex-end;
      flex-direction: column;

      width: 50%;

      &.active {
        display: flex;
      }
    }

    &__link {
      flex-direction: column;
    }
  }
}
